{% load static wagtailcore_tags wagtailimages_tags %}

<tr>
  <td class="font-body text-1xl text-primary dark:text-white lg:text-2xl">E-mail : </td>
  <td class="pl-10 text-1xl font-body italic text-green dark:text-green-light lg:text-2xl">
    <a href="mailto:jouronlaurent@homail.com?subject=Contact%20depuis%20laurentjouron.dev">
      {{ contact.email }}
    </a>
</td>
</tr>
<tr>
  <td class="font-body text-1xl text-primary dark:text-white lg:text-2xl">Téléphone :</td>
  <td class="pl-10 text-1xl font-body italic text-green dark:text-green-light lg:text-2xl">
      <a href="tel:{{ contact.phone_number }}">
        {{ contact.phone_number }}
      </a>
  </td>
</tr>